* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

:root {
    --color1: #efe3f6;
    --color2: #72448d;
    --color3: #5C3474;
}

body {
   width: 100%;
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(../images/bg/bggal.png); */
    background-color: var(--color2);
    background-size: contain;
    background-position: 100px 0;
    background-repeat: no-repeat;
    color: white;
    position: sticky;
    padding: 40px 0 40px 0;
}

.wrapper {
    padding-block: 50px;
    padding-inline: 70px;
    background-color: transparent;
    color: white;
    box-shadow: 0px 0px 50px #aa84c0;
    border-radius: 8px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
}

.input-box-text {
    margin-top: 30px;
    margin-bottom: 20px;
}

.input-box-pass {
    margin-top: 0px;
    margin-bottom: 10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid var(--color1);
    border-radius: 4px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

input:focus {
    outline: none;
    border-color: var(--color1);
    box-shadow: 0 0 5px var(--color1);
}

::placeholder {
    color: #b6a8d0;
    opacity: 1;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;
}

.rememberCB {
    border: none;
    outline: none;
    color: var(--color2);
}

.rememberCB:checked {
    color: var(--color2);
    outline: none;
}

.remember-forget-text {
    font-size: 14.5px;
    align-items: center;
    display: flex;
}

.remember-forget a {
    color: white;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.wrapper .btn {
    padding: 20px;
    height: 7.5vh;
    border-radius: 4px;
    font-size: 1.17rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    color: var(--color2);
    cursor: pointer;
    width: 100%;
    border: none;
}

.wrapper .btn:hover {
    border: none;
    background-color: var(--color3);
    cursor: pointer;
    transition: ease 0.3s;
    color: white;
    transform: translateY(-2px);
}

.signupBox {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
}

.signupBox a {
    color: var(--color1);
    text-decoration: none;
    margin-left: 5px;
}

.signupBox a:hover {
    font-style: italic;
    text-decoration: underline;
}

.toggle-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    .wrapper {
        padding: 50px;
        width: 50%;
    }

    .input-box input {
        font-size: 14px;
        padding: 10px 40px 10px 15px;
    }

    .input-box i {
        font-size: 18px;
    }

    .remember-forget {
        font-size: 12px;
    }

    .wrapper .btn {
        font-size: 17px;
        height: 40px;
    }
}

@media (max-width: 550px) {
    .wrapper {
        width: 60%;
    }
/* 
    .wrapper h1 {
        font-size: 25px;
    } */

    .input-box input {
        font-size: 14px;
        padding: 10px 35px 10px 10px;
    }

    .input-box i {
        font-size: 16px;
    }

    .wrapper .btn {
        height: 35px;
    }
}

@media (max-width: 426px) {
    .wrapper {
        width: 80%;
        padding: 40px;
    }

    .remember-forget-text {
        font-size: 12px;
    }

    .signupBox {
        font-size: 13px;
    }
}
@media (max-width: 376px){
.wrapper h1 {
        font-size: 30px;
    }
    .wrapper {
        padding: 25px 20px;
    }
}